.glass-container2 {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10% 20%;
}

.container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  margin: 10% 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.form-container {
  grid-column: 2;

}

.image-container {
  grid-column: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container2 img {
  width: 70%;
  border-radius: 10px;
}


.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 10%;
}

.input-field {
  padding: 10px;
  margin: 10px 20px 10px 0px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  width: 650px;
}

.input-field::placeholder {
  color: white;
}

.submit-button2{
  padding: 12px 24px;
  margin: 10px 0;
  border: none;
  border-radius: 10px;
  background-color: #0d0543;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  cursor: pointer;
  /* width: 650px; */
}

.submit-button2:hover {
  background-color: #f7ee9c;
  color: #0d0543;
}

.form-image {
  width: 100%;
  padding: 10%;
}