.glass-container2 {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
}

.glass-container3 {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
  margin: 1%;
}
.form-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.form {
  display: flex;
  align-items: start;
  flex-direction: column;
}
.image-container {
  margin-right: 20px;
}

.form-image {
  width: 200px; /* Adjust the width as needed */
  height: auto;
  border-radius: 5px;
}

.input-field {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

.submit-button {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  cursor: pointer;
}

.submit-button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.text {
  color: white;
  font-size: 100px;
  z-index: 1;
}
.text2 {
  color: white;
  font-size: 60px;
  font-weight: bold;
  z-index: 1;
}

.copy-btn {
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 10px;
}
.copy-btn:hover{
  background-color: rgba(253, 253, 253, 0.25);
}

.copy-icon {
  height: 35px;
  width: 55px;
  color: white;
}

.copy-icon:hover {
  cursor: pointer;
}

.check-icon {
  height:30px;
  width: 30px;
}

.copy-text {
  font-size: 15px;
}

.copied{
  display: flex;
  gap: 5px;
  justify-content: start;
  align-items: center;
}