.section {
  color: white;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 7%;
  color: white;

}
p{
  font-size: 17px;
}
h3{
  font-size: 25px;
}
.hero-content h1{
  font-size: 60px;
}
h1 {
  position: relative;
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

h1::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #f7ee9c;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
  transform-origin: left;
}

h1:hover {
  transform: translateY(-3px);
  text-shadow: 0 0 5px #f7ee9c, 0 0 10px #f7ee9c, 0 0 20px #f7ee9c;
}

h1:hover::before {
  transform: scaleX(1);
}

h1::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #f7ee9c;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
  transform-origin: left;
}

h1:hover::after {
  transform: scaleX(1);
}


.Allabout {
  margin: 7%;
  text-align: center;
}

#btnHome {
  margin-right: 50px;
}

.about,
.mission,
.privacy {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

}

.grid-item {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid-item .about-image {
  width: 50%;
  height: 100%;
  display: inline-block;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}
.about-image:hover {
  transform: scale(1.05);
}

.hero-image {
  width: 40%;
  margin: 2% 1% 0 5%;
  display: inline-block;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  animation: moveImage 2s infinite alternate;
}

.hero-image:hover {
  transform: scale(1.05);
}

.hero-image::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  z-index: -1;
  filter: blur(10px);
  background-image: url(path_to_your_image.jpg);
  background-size: cover;
  border-radius: 20px;
  opacity: 0.8;
  pointer-events: none;
  animation: twinkling 3s infinite;
}


@keyframes twinkling {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes moveImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}